/*
 *
 *  Hi there, have a look at my source files here:
 *  https://github.com/stefanRitter/
 *
 */

@import base

// ********************************************************************************** GLOBALS

$active-color: #CC0E5A


// ********************************************************************************** PLACEHOLDERS & MIXINS


// ********************************************************************************** GENERAL

// center content horizontally
.horizontal-container
  height: 100%
  width: 90%
  display: table
  margin: 0 auto

// center content vertically
.vertical-container
  display: table-cell
  vertical-align: middle

#loading
  position: fixed
  top: 45%
  width: 100%
  text-align: center
  font: bold 1.6em Helvetica, sans-serif
  img
    display: inline-block
    height: 2em


// ********************************************************************************** HEADER
.mainheader
  // display: block
  width: 1000px // same as canvas
  margin: 0 auto
  font: bold 2em Helvetica, sans-serif

  p
    float: right
    font: 0.5em 'EB Garamond', serif
    font-variant: small-caps
    padding-bottom: 0.4em
    a
      text-decoration: none
      color: black


// ********************************************************************************** CANVAS
canvas
  display: block
  clear: both
  margin: 2% auto


// ********************************************************************************** FOOTER
.mainfooter
  font: italic 0.7em 'EB Garamond', serif
  text-align: center
  a
    color: black

