/*
 *  Hi there, have a look at my source files here:
 *  https://github.com/stefanRitter/
 *
 */
/* Global reset
 * http://meyerweb.com/eric/tools/css/reset/
 **************************************************************** */
/* line 14, ../sass/_base.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 21, ../sass/_base.sass */
html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

/* SASS placeholder selector clearfix 
 * http://sasstwo.codeschool.com/
 **************************************************************** */
/* line 31, ../sass/_base.sass */
.clearfix {
  zoom: 1;
}
/* line 34, ../sass/_base.sass */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
/* line 38, ../sass/_base.sass */
.clearfix:after {
  clear: both;
}

/* line 43, ../sass/_base.sass */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 13, ../sass/application.sass */
.horizontal-container {
  height: 100%;
  width: 90%;
  display: table;
  margin: 0 auto;
}

/* line 20, ../sass/application.sass */
.vertical-container {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit;
  overflow: hidden;
}

/* line 27, ../sass/application.sass */
#loading {
  position: fixed;
  top: 45%;
  width: 100%;
  text-align: center;
  font: 1.6em "EB Garamond", serif;
}
/* line 33, ../sass/application.sass */
#loading img {
  display: inline-block;
}

/* line 38, ../sass/application.sass */
.mainheader {
  width: 1000px;
  margin: 0 auto;
  font: bold 2em Helvetica, sans-serif;
  display: block;
  padding-bottom: 2.5%;
}
/* line 45, ../sass/application.sass */
.mainheader p {
  float: right;
  font: 0.5em "EB Garamond", serif;
  font-variant: small-caps;
}
/* line 49, ../sass/application.sass */
.mainheader p a {
  text-decoration: none;
  color: black;
}

/* line 53, ../sass/application.sass */
#browserwarning {
  float: left;
  visibility: hidden;
  background-color: pink;
  padding-left: 1%;
  padding-right: 1%;
}

/* line 62, ../sass/application.sass */
#gamecontainer {
  clear: both;
  display: block;
  position: relative;
  left: 50%;
  width: 1000px;
  height: 600px;
}

/* line 70, ../sass/application.sass */
canvas {
  position: absolute;
  left: -50%;
}

/* line 74, ../sass/application.sass */
#logo {
  position: absolute;
  left: -50%;
}

/* line 78, ../sass/application.sass */
#levelup {
  position: absolute;
  left: -50%;
  display: none;
}

/* line 85, ../sass/application.sass */
.mainfooter {
  display: block;
  padding-top: 1.5%;
  width: 1000px;
  margin: 0 auto;
  font: italic 0.8em/1.5em "EB Garamond", serif;
  text-align: center;
}
/* line 92, ../sass/application.sass */
.mainfooter a {
  color: black;
}
